.wkPlan-editform {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  width: 40rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 3rem 5rem;
  font-size: 2rem;

  &.show {
    pointer-events: initial;
    opacity: 1;
    display: inline;
  }

  &.hide {
    pointer-events: none;
    opacity: 0;
    display: none;
  }
}
