//MEDIA QUERY DATA
// 16px is one 1rem default
$bp-largest: 75em; //1200px  12/16 = 0.75
$bp-large: 68.75em; //1100px 11/16 = 0.6875
$bp-medium: 56.25em; //900px 9/16 = 0.5625
$bp-small: 37.5em; //600px 6/16 = 0.375
$bp-smallest: 31.25em; //500px 5/16 = 0.3125