//MEDIA QUERY DATA
// 16px is one 1rem default
$bp-largest: 75em; //1200px  12/16 = 0.75
$bp-large: 68.75em; //1100px 11/16 = 0.6875
$bp-medium: 56.25em; //900px 9/16 = 0.5625
$bp-small: 37.5em; //600px 6/16 = 0.375
$bp-smallest: 31.25em; //500px 5/16 = 0.3125

$wkPlanBackground: wkPlan-background-css;

//Colorpicker
$colorpicker-red: #d50000;
$colorpicker-pink: #c51162;
$colorpicker-purple: #aa00ff;
$colorpicker-darkpurple: #6200ea;
$colorpicker-indigo: #304ffe;
$colorpicker-blue: #2962ff;
$colorpicker-dodgerblue: #0091ea;
$colorpicker-cyan: #00b8d4;
$colorpicker-teal: #00bfa5;
$colorpicker-green: #00c853;
$colorpicker-lightgreen: #64dd17;
$colorpicker-lime: #aeea00;
$colorpicker-yellow: #ffd600;
$colorpicker-amber: #ffab00;
$colorpicker-orange: #ff6d00;
$colorpicker-brown: #3e2723;
$colorpicker-gray: #212121;
$colorpicker-bluegray: #263238;

//color
$color-black: #000;
$color-white: #fff;
