@include backgroundColors($wkPlanBackground);

.wkPlan-event {
  position: absolute;
  left: 0%;
  width: 100%;
  height: calc((4% / 96) * 100);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;

&__name ,  &__times {
  display: block;
}

  &__name {
  }

  &__times {

  }

  &__start-time {
    
  }
  &__end-time {

  }

  &:before {
    content: none;
  }
  &--animated {
    animation-name: wkPlan-event-bounce;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
}
