.wkPlan-colorpicker {
  &__color {
    display: inline-block;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    transition: all 0.1s ease-in-out;

    &-picked {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "\2713";
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
@include backgroundColors($wkPlanBackground);
