@keyframes wkPlan-event-bounce {
    0%{
        transform: scale(1);
    }
    35%{
        transform: scale(1.12);
    }
    70%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1);
    }
  }